<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Online chopping</title>
</head>
<body>
    <div class="searchItem"><input type="text" name="production" value="item"></div>
    <div class="nav-bar">
        <ul>
            <li><a href="#">dashboard</a></li>
            <li><a href="#">shoes</a></li>
            <li><a href="#">men's clothes</a></li>
            <li><a href="#">women chothes</a></li>
            <li><a href="#">watches</a></li>
            <li><a href="#">boots</a></li>
            <li><a href="#">utensils</a></li>
            <li><a href="#">electronics</a></li>
            <li><a href="#">phones</a></li>
        </ul>
    </div>
    <div class="item">
        <span class="item-title"></span>
        <img src="#">
        <div class="item-details">
            <span class="price"></span>
            <button class="order-now"></button>
            <button class="add-t0-cart"></button>
        </div>
    </div>

</body>
</html>